@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

html {
  font-size: 1rem;
  font-family: 'Amiri', serif;
  background-color: #eaeaea;
}

body {
  padding:5rem 0;

      animation: colorchange 30s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 30s infinite; /* Chrome and Safari */
    }
 @keyframes colorchange
    {
      0%   {background: #69B0AC;}
      25%  {background: #00AA90;}
      50%  {background: #78C2C4;}
      75%  {background: #33A6B8;}
      100% {background: #268785;}
    }
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
   	  0%   {background: #69B0AC;}
      25%  {background: #00AA90;}
      50%  {background: #78C2C4;}
      75%  {background: #33A6B8;}
      100% {background: #268785;}
    }
/* Structure */


main {
  width:80vw;
  margin: 0 auto;
}

#ds-container {
  display:grid;
  grid-template-columns: 3fr 6fr 1fr;
  grid-auto-rows:min-content;
  grid-gap:2rem;
}

.component-group {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows:min-content;
  grid-gap:1rem;
}


#left-sidebar {
  grid-column: 1 / 2;
   text-shadow: 2px 2px 4px #000000
}

#main-content {
  grid-column: 2 / 4;
  text-shadow: 0 0 5px #66BAB7;
  }

#right-sidebar {
  grid-column: 3 / 4;
}

section {
  background:#fff;
  box-shadow: 3px 3px 2px 1px rgba(111, 111, 111, .2);
  padding:2rem;
  margin-bottom:2rem;
  border-radius: 25px;
  border: 8px solid #005CAF;
  
}

.cg-1 {
  grid-column: 1 / 2;
}

.cg-2 {
  grid-column: 2 / 3;
}

.cg-3 {
  grid-column: 3 / 4;
}


.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}




a {
  text-decoration: none;
}



/* Typography */


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:1;
  margin-bottom:1.25rem;
}

h1 {
  font-size:5rem;
}
h2 {
  font-size:3.375rem;
}
h3 {
  font-size:2.25rem;
}
h4 {
  font-size:1.5rem;
}
h5 {
  font-size:1;
}

h6 {
  font-size:1rem;
}

p, li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom:1rem;
}

.section-label {
  text-transform: uppercase;
  font-weight:700;
}

.section-break {
  text-transform: uppercase;
  font-weight:700;
  margin-top:3rem;
}

/* Color samples */

  .color-Navy {
    background-color: #0F2540;
  }
    .color-Blue {
    background-color: #66BAB7;
  }
    .color-medium-yellow {
    background-color: #FBE251;
  }
    .color-yellow {
    background-color: #F7D94C;
  }
    .color-deep-brown {
    background-color: #0F2540;
  }
    .color-lightblue {
    background-color: #A5DEE4;
    }
    .color-darkblue {
    background-color: #005CAF;
    }

.primary-hue {
  display: flex;
  padding:3rem 1rem;
  color:#ffffff;
  font-family: Montserrat;
}

.primary-hue > div {
  width:33%;
}

.secondary-hue {
  display: flex;
  padding:1.5rem 1rem;
  color:#ffffff;
  font-family: Montserrat;
}

.secondary-hue > div {
  width:33%;
}

.neutral-hue {
  display: flex;
  padding:1.5rem 1rem;
  color:#ffffff;
  font-family: Montserrat;
}

.neutral-hue > div {
  width:33%;
}

.accent-hue {
  display: flex;
  padding:.5rem 1rem;
  color:#ffffff;
  font-family: Montserrat;
}

.accent-hue > div {
  width:33%;
}


/* Components */


/* -- buttons -- */

.button {
  background-color: #66BAB7; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Montserrat;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #0F2540; 
  color: white; 
}

.button1:hover {
  background-color: #0F2540;
  color: white;
   opacity: 0.7;
}

.button2 {
  background-color: white; 
  color: #0F2540; 
  border: 2px solid #005CAF;
}

.button2:hover {
  background-color: white; 
  color: #0F2540; 
  border: 2px solid #A5DEE4;
}

.button3 {
  background-color: #66BAB7; 
  color: white; 
  cursor: not-allowed;
}

.button3:hover {
  background-color: #66BAB7; 
  color: white; 
  opacity: 0.6;
  cursor: not-allowed;
}

/* -- input field -- */


input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #005CAF;
  border-radius: 2px;
  color: #0F2540; 

}

/* -- dropdown -- */


.dropbtn {
  background-color: #005CAF; 
  box-shadow: 3px 3px 2px 1px rgba(22, 22, 22, .4);
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: Montserrat;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #A5DEE4;
}

/* -- switch -- */


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #66BAB7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #F2B138;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0F2540;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F2B138;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* -- date picker -- */


label {
    display: block;
    font: 1rem 'Montserrat', sans-serif;

}

input {
    margin: .4rem 0;
    border: 1px solid #005CAF;
}

.pointer{
  cursor: pointer;
}

/* -- loader -- */


.loader {
  border: 16px solid #66BAB7;
  border-radius: 50%;
  border-top: 16px solid #F2B138;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


img {
  width:100%;
}

.hh1{
	color: #FCFAF2;
  text-shadow: 0 0 3px #0F2540, 0 0 5px #005CAF;
}

.bk{
  background-color: white;
  opacity: 0.5;
}
.box1{
  box-shadow: 10px 10px 5px grey;
}







